# Node modules
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Environment variables
.env*.local
.env

# Prisma
dev.db
dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
